.jumbotron {
    background-color: #b7faf4;
}

footer {
    background-color:#b7faf4;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.navbar-color{
    background-color: #b7faf4;
}

.carousel-img{
    height: 500px;
}